a#toggle

#toc
  - each section in public.resume._data.sections
    a.section(href="#"+section.slug)= section.name
    ul.things
      - each thing in public.resume._data[section.slug]
        li
          a(href="#"+thing.slug)= thing.name

section.first
  article

    img(src="/assets/images/anthropomorphs2.png")

    aside
      h1 Zeke<br /> Sikelianos

      :markdown
        I'm a freelance [graphic designer](/portfolio) and [software developer](https://github.com/zeke) living in Oakland, California.
        I believe [information wants to be free](http://en.wikipedia.org/wiki/Hacker_ethic), and that computers can be used to create [beautiful things](/portfolio).
        Please take a look around, and [tell me what you think](https://twitter.com/zeke).
        This page is mostly text; for a more graphic experience please visit my [design portfolio](/portfolio).

      :markdown
        I am currently [available for hire](mailto:zeke@sikelianos.com).


section
  article

    h2
      a(id="projects" href="#projects") Projects

    ul
      - each project in public.resume._data.projects
        li(id=project.slug)
          h3
            a(href=project.website)= project.name
            a.permalink(href="#"+project.slug) #
          p= project.description

    h2#fin
      a(id="posts" href="#posts") Blog Posts

    ul
      - for post, slug in public.posts._data
        li(id=slug)
          h3
            a(href=post.url)= post.title
          p= post.summary
          p.paltry
            = post.published_at

    :markdown
      [Subscribe](#subscribe) to be emailed about new content.


    h2
      a(id="jobs" href="#jobs") Jobs

    ul
      - each job in public.resume._data.jobs
        li(id=job.slug)
          h3
            a(href=job.website)= job.name
            em= job.location
            a.permalink(href="#"+job.slug) #

          p= job.description
          p.paltry
            = job.start
            = " - "
            = job.end

    h2
      a(id="schools" href="#schools") Schools

    ul
      - each school in public.resume._data.schools
        li(id=school.slug)
          h3
            a(href=school.website)= school.name
            em=  school.location
            a.permalink(href="#"+school.slug) #
          p= school.description
          p.paltry
            = school.start
            = " - "
            = school.end


    h2#subscribe Subscribe

    :markdown
      I'll send you an email when new things are posted to the site. I promise not to spam you or share your email address.

    form(action='//sikelianos.us6.list-manage.com/subscribe/post?u=eb1baf73af6cc872dd06ed858&id=7f60b90055', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
      input(type='text', value='', name='FNAME', placeholder='First name' autcorrect="off")
      input(type='text', value='', name='LNAME', placeholder='Last name' tabindex=2)
      input(type='email', value='', name='EMAIL', placeholder='Email address', required='required' tabindex=3)

      input.honey(type='text', name='b_eb1baf73af6cc872dd06ed858_7f60b90055', tabindex='-1', value='' style="width:0;height:0;opacity:0;")
      input(type='submit', value="Subscribe", name='subscribe' tabindex=4)
