<section>
  <p>
    Hello. I'm Zeke Sikelianos, a freelance graphic designer and software developer living in beautiful New Orleans, Louisiana.

    <!-- I believe <a href="http://en.wikipedia.org/wiki/Hacker_ethic">information wants to be free</a>, and that computers can be used to create <a href="/portfolio">beautiful things</a>.  -->
    <!-- Please take a look around, and <a href="https://twitter.com/zeke">tell me what you think</a>. -->
    I'm <a href="mailto:zeke@sikelianos.com">available for hire</a>.
  </p>
</section>

{{#each sections}}
<section>
  <h2><a id="{{@key}}" href="#{{@key}}">{{this.title}}</a></h2>

  <ul class="columnar cards">
    {{#each this.pages}}
      {{#unless disabled}}

        <li class="card">
          <div class="card-thumbnail">
            {{#if images.thumbnail}}
              <img src="{{images.thumbnail.href}}" />
            {{/if}}
          </div>

          <div class="card-details">
            <h3>
              <a href="{{this.href}}">{{this.title}}</a>
            </h3>
            <p class="faint unpadded small-text">{{this.summary}}</p>
          </div>
        </li>

      {{/unless}}
    {{/each}}
  </ul>
</section>
{{/each}}

<section>
  <h2>Places I've Lived</h2>
  <p>
    Santa Barbara, Albuquerque, L'Isle Sur La Sorgue, Paris, Los Angeles, San Francisco, Oakland, and now New Orleans.
  </p>
</section>
