<div id="page-nav" class="muted">
  <a href="/">zeke.sikelianos.com</a>
  {{#if page.section}} &sdot; {{page.section}}{{/if}}
</div>

<div id="content">
  <div class="text-column-width">
  <header>
    <h1>{{page.title}}</h1>

    <h2>
      {{#if page.summary}}{{page.summary}}{{/if}}
      {{#if page.location}}{{page.location}}{{/if}}
    </h2>
  </header>

  {{#each page.images.thumbnail.palette}}
    <div class="palette-dot palette-dot-big" style="background:{{this}};"></div>
  {{/each}}

    {{{page.content.processed}}}
  </div>
</div>
